h1 {
    color: red;
    
}
.refrase{
    .bbh-hegarty-regular 
  font-family: "BBH Hegarty", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: gold;
}


body {
    background-color: blue;
    
}
p {
color: greenyellow;
line-height: 1.8;
}